input{
    width: 70px;
    margin: 5px;
    padding: 3px;
    border: solid black 3px;
    margin: 3px 7px;
    margin-bottom: -5px;
    margin-top:30px; 
   
}
input[type="text"]
{
    width: 200px;
}

input[type="button"] {
    width: 53px;
    margin: 2px 11px;
    padding: 5px;
    background: black;
    border: solid black 1px;
    margin: 3px 11px;
    font-size: 17px;
    color: white ;
}
    

form[name="abc"]
{
    text-align:center;
    margin-top: 10px;
    margin:55px;
    box-shadow: 0 10px 15px darkgrey;
    border: none;
    padding-bottom: 20px;
    width: auto;
    width:365px;
    margin-left:410px;
    background-color: white;
}

h1{
    color:black;
    padding:20px;
    margin-top: 4px 5px;
}